@import "flexbox.less";

@picture-url: "/pictures";
@xs-mobile-view: 543px;
@mobile-view: 767px;
@tablet-view: 991px;
@desktop-view: 992px;
@min-width: 315px;
@font-size: 16px;
.max-width-doc{
  max-width: 1200px;
}
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700|Lato:400,700);

  header{
    .flex-display !important;
    .align-items(center);
    .justify-content(space-between);
    padding: 2rem;
    margin: auto;
    .max-width-doc;
    height: 100%;
    background: #2b4477;
    .head-logo{
      margin-left: 1.8rem;
    }
    .head-number{
      margin-right: 2rem;
      font-family: 'Lato', sans-serif;
      color: #fff;
      text-align: right;
      line-height: 1.75rem;
      .first{
        font-weight: 400;
        font-size: 1.25rem;
      }

      .second{
        font-weight: 700;
        font-size: 1.44rem;
        a{
          color: white;
        }
      }
      a:link {
        color: white;
      }

      /* visited link */
      a:visited {
        color: green;
      }

      /* mouse over link */
      a:hover {
        color: hotpink;
      }

      /* selected link */
      a:active {
        color: blue;
      }
    }
    @media (max-width: @xs-mobile-view) {
      .head-number {
        display: none;
      }
      .head-logo{
        margin-left: 0;
      }
      .justify-content(center);
    }
  }


  footer{
    .flex-display;
    margin: auto;
    padding-top: 4.4rem;
    max-width: 1170px;
    .flex-direction(column);
    .foot-top{
      .flex-display;
      .align-items(stretch);
      .foot-logo{
        width: 35%;
        background: url("@{picture-url}/landing/footer_logo.png") no-repeat 1.9rem 0;
      }
      .foot-links{
        .flex-display;
        width: 65%;
        margin-top: -1rem;
        font-family: Lato, sans-serif;
        font-weight: 400;
        a{
          font-size: 1.25rem;
          line-height: 2.75rem;
          text-decoration: none;
          color: #444444;
        }
        .links-list{
          width: 53%;
        }
        .follows{
          width: 100%;
          color: #27aae1;
          font-size: 1.44rem;
          line-height: 3rem;
          br{
            line-height: 3.4rem;
          }
          .follow-links{
            div{
              display: inline-block;
              width: 2.3rem;
              margin-right: 0.8rem;
            }
          }
        }
      }
      @media (max-width: @tablet-view) {
        .foot-logo {
          width: 30%;
        }

        .foot-links {
          width: 70%;
          .links-list {
            width: 40%;
          }
        }
      }
      @media (max-width: @mobile-view) {
        .foot-logo{
          background-size: 80%;
          background-position: 0.5rem 0;
        }
        .foot-links {
          margin-top: -0.5rem;
          a {
            font-size: 1rem;
            line-height: 2rem;
          }
          .follows{
            font-size: 1.1rem;
            line-height: 1.7rem;
            width: 100%;
            br {
              line-height: 2rem;
            }
            .follow-links {
              .flex-display;
              div {
                width: auto;
                padding-right: 0.8rem;
                img{
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
      @media (max-width: @xs-mobile-view){
        .justify-content(space-between);
        .foot-logo{
          background-size: 90%;
          background-position: 0.2rem 0;

        }
        .foot-links{
          .flex-direction(column);
          .links-list{
            .flex-display;
            width: 100%;
            :first-child{
              width: 40%;
            }
            :last-child{
              width: 60%;
            }
          }
          .follows{
            margin-top: 1rem;
          }
        }
      }
    }
    .foot-bottom{
      padding: 1rem;
      color: #e1e1df;
      font-family: Lato, sans-serif;
      font-weight: 400;
      font-size: 0.95rem;
      line-height: 1.5rem;
      hr{
        border: none;
        background-color: #e1e1df;
        height: 1px;
      }
      div{
        color: rgba(68, 68, 68, 0.5);
        @media (max-width: @xs-mobile-view){
          font-size: 0.8rem;
          line-height: 1.3rem;
        }
      }
    }
  }


