@import "config.less";

html{
  font-size: @font-size;
}
body{
  min-width: @min-width;
  color: #444;
  .lp-floating-block{
    display: none;
    width: 100%;
    color: #444;
    font-family: Lato, sans-serif;
    font-weight: 700;
    .lp-left-block{
      .flex-display;
      .align-items(center);
      width: 40%;
      font-weight: inherit;
      background-color: #f8c44f;
      h2{
        margin: 0;
        margin-left: 1%;
        font-size: 1.5rem;
      }
    }
    .lp-arrow-block{
      display: flex;
      .align-self(center);
      margin-left: -2px;
      margin-right: -23px;
      width: 0;
      height: 0;
      border: 0.8rem solid;
      border-color: transparent transparent transparent #f8c44f;
      z-index: 60;
    }
    .lp-right-block{
      .flex-display;
      .justify-content(center);
      .align-items(center);
      width: 61%;
      color: #fff;
      background-color: #2b4477;
      font-size: 1.25rem;
      .handset{
        width: 1.8rem;
        height: 5rem;
        background: url("@{picture-url}/landing/handset.png") no-repeat center;
        background-size: 60%;
        transform: rotate(-90deg);
      }
      a{
        //text-decoration: none;
        color: #fff;
      }
    }
    @media(max-width: @mobile-view){
      display: flex;
      position: fixed;
      z-index: 50;
      bottom: 0;
    }
  }
}
.lp-first-block,
.lp-second-block,
.lp-third-block,
.lp-fourth-block,
.lp-fifth-block,
.lp-sixth-block{
  .flex-display;
  max-width: 1170px;
  margin: auto;
}

/*----- quotes block without coloring -----*/

.lp-corner{
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border: 0.81rem solid;
}
.lp-qotes-block{
  padding-top: 1rem;
  max-width: 25.625rem;
  height: 18.375rem;
  margin: auto;
  text-align: center;
  h3{
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 1.7rem;
  }
  .form-control{
    border-radius: 0;
    margin-top: 2.5rem;
    height: auto;
    padding: 0.8rem;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.125rem;
    color: #444;
  }
  .btn{
    margin-top: 1.2rem;
    padding: 0;
    height: 4.3rem;
    line-height: 4.3rem;
    vertical-align: middle;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    font-family: Lato, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 0;
  }
  @media (max-width: @mobile-view){
    height: auto;
    .btn{
      margin-bottom: 3rem;
    }
  }
  @media (max-width: @xs-mobile-view){
    h3 {
      font-size: 1.5rem;
      line-height: 1rem;
    }
  }
}


/*---------- first block ----------*/
.lp-first-block{
  background: url("@{picture-url}/landing/big_photo.jpg") no-repeat center;
  .lp-first-block-content{
    margin-top: 3rem;
    width: 51%;
    text-align: center;
    h2{
      font-family: Lato, sans-serif;
      font-weight: 700;
      font-size: 2.31rem;
      line-height: 2.75rem;
      color: #444444;
      text-align: center;
    }
    .lp-corner{
      margin-top: 1.9rem;
      border-color: transparent transparent #444 transparent;
    }
    .lp-top-quotes-block{
      background-color: #444444;
      h3{
        color: #f8c44f;
      }
      .btn{
        background-color: #f8c44f;
        color: #fff;
      }
    }
    .lp-providers-text{
      margin-top: 2.6rem;
      letter-spacing: 0.02rem;
      font-family: Lato, sans-serif;
      font-weight: 400;
      font-size: 1.31rem;
      line-height: 2rem;
      color: #444;
    }
    .lp-providers{
      margin-top: 1.4rem;
      margin-bottom: 4.65rem;
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
  @media (max-width: 1020px) {
    background-size: 120%;
    background-position: top;
  }
  @media (max-width: @tablet-view){
    .lp-first-block-content {
      width: 60%;
      .lp-providers {
        margin-bottom: 1rem;
      }
    }
  }
  @media (max-width: 920px) {
    background-size: 130%;
    background-position: top;
  }
  @media (max-width: 840px) {
    background-size: 160%;
    background-position: top;
  }
  @media (max-width: @mobile-view){
    background: url("@{picture-url}/landing/big_photo_mob.jpg") no-repeat center;
    .lp-first-block-content {
      width: 100%;
      .lp-providers {
        margin-bottom: 4.65rem;
      }
    }
  }
  @media (max-width: @xs-mobile-view){
    .lp-first-block-content {
      margin-top: 1rem;
      h2 {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      .lp-corner{
        margin-top: 0;
      }
      .lp-providers-text {
        margin-top: 2rem;
        letter-spacing: 0;
        font-size: 1.1rem;
        line-height: 1rem;
      }
      .lp-providers {
        max-width: 90%;
        margin-top: 1.4rem;
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

/*---------- second block ----------*/
.lp-second-block{
  .flex-display;
  color: #fff;
  .lp-light-block{
    width: 67%;
    background-color: #8bcdc3;
    font-family: Lato, sans-serif;
    padding-left: 8%;
    h3{
      margin-top: 2rem;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 2.125rem;
    }
    div{
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.125rem;
    }
    :last-child{
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
    }
    @media (max-width: 1100px) {
      padding-left: 3%;
    }
    @media (max-width: @desktop-view) {
      padding-left: 1%;
      h3 {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      div {
        font-size: 1.45rem;
        line-height: 2rem;
      }
      :last-child{
        font-size: 1.45rem;
      }
    }
  }
  .lp-pointer-block{
    display: flex;
    .align-self(center);
    margin-left: -2px;
    margin-right: -24px;
    width: 0;
    height: 0;
    border: 0.8rem solid;
    border-color: transparent transparent transparent #8bcdc3;
    z-index: 10;
  }
  .lp-dark-block{
    .flex-display;
    .flex-direction(column);
    .align-items(center);
    width: 33.5%;
    background-color: #2b4477;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.125rem;
    .handset{
      margin-top: 1.5rem;
      width: 54px;
      height: 54px;
      background: url("@{picture-url}/landing/handset.png") no-repeat center;
    }
    a{
      color: #fff;
    }
    @media (max-width: @desktop-view){
      font-size: 2rem;
    }
  }
  @media (max-width: @mobile-view) {
    .flex-direction(column);
    .lp-light-block {
      width: 100%;
      padding-left: 8%;
      h3{
        margin-top: 2rem;
        font-size: 2.5rem;
        line-height: 2.125rem;
      }
      div{
        font-size: 1.5rem;
        line-height: 2.125rem;
      }
      :last-child{
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
      }
    }
    .lp-pointer-block{
      display: flex;
      .align-self(center);
      margin-right: 0;
      margin-left: 0;
      margin-bottom: -24px;
      margin-top: -2px;
      border-color: #8bcdc3 transparent transparent transparent;
      z-index: 10;
    }
    .lp-dark-block{
      width: 100%;
      .flex-direction(row);
      .justify-content(center);
      .handset{
        margin: 1.5rem 0.5rem 1.5rem 0;
        transform: rotate(-90deg);
      }
    }
  }
  @media (max-width: 690px){
    .lp-light-block {
      padding-left: 2%;
      h3{
        font-size: 2.1rem;
        line-height: 2rem;
      }
      div{
        font-size: 1.4rem;
        line-height: 2rem;
      }
      :last-child{
        font-size: 1.4rem;
      }
    }
  }
  @media (max-width: @xs-mobile-view){
    .lp-light-block {
      padding-left: 1%;
      h3{
        font-size: 1.7rem;
        line-height: 2rem;
      }
      div{
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
      :last-child{
        font-size: 1.2rem;
      }
    }
  }
  @media (max-width: 435px){
    .lp-light-block {
      h3{
        margin-top: 1rem;
        font-size: 1.25rem;
        line-height: 2rem;
      }
      div{
        font-size: 0.9rem;
        line-height: 1.2rem;
      }
      :last-child{
        font-size: 0.9rem;
      }
    }
    .lp-dark-block {
      font-size: 1.5rem;
      .handset{
        background-size: 75%;
        margin-right: 0;
      }
    }
  }
}

/*---------- third block ----------*/
.lp-third-block{
  display: block;
  padding: 1%;
  margin-bottom: 1.5rem;
  h2{
    margin-top: 3.6rem;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 2.4rem;
    line-height: 3.125rem;
    :first-child{
      font-weight: 400;
      display: block;
    }
    :last-child{
      font-weight: 700;
    }
  }
  .lp-three-steps{
    .flex-display;
    .justify-content(space-around);
    .align-items(center);
    margin-top: 4rem;
    .lp-step{
      margin: 0 1%;
      height: 17rem;
      max-width: 14.2rem;
      .lp-step-img{
        width: 88px;
        height: 88px;
      }
      .lp-first-step{
        background: url("@{picture-url}/landing/easy_quotes.png") no-repeat center;
      }
      .lp-second-step{
        background: url("@{picture-url}/landing/compare_plans.png") no-repeat center;
      }
      .lp-third-step{
        background: url("@{picture-url}/landing/healthcare.png") no-repeat center;
      }
      .lp-step-text{
        margin-top: 1rem;
        line-height: 1.875rem;
        .lp-step-text-head{
          font-family: Lato, sans-serif;
          font-weight: 700;
          font-size: 1.75rem;
          color: #27aae0;
        }
        .lp-step-text-body{
          margin-top: 0.5rem;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
          font-size: 1.25rem;
          color: #444444;
        }
      }
    }
    .lp-jump{
      width: 30px;
      height: 70px;
      background: url("@{picture-url}/landing/arrow_right.png") no-repeat center;
    }
    :last-child{
      max-width: 16rem;
    }
  }
  @media (max-width: @mobile-view){
    h2 {
      :first-child {
        display: inline;
      }
    }
    .lp-three-steps {
      .flex-direction(column);
      .lp-step{
        .flex-display;
        .justify-content(center);
        max-width: 80%;
        width: 80%;
        height: auto;
        .lp-step-img{
          display: inline-block;
        }
        .lp-step-text{
          display: inline-block;
          padding-left: 7%;
          margin-top: 0;
          max-width: 19rem;
        }
      }
      .lp-jump{
        transform: rotate(90deg);
      }
    }
  }
  @media (max-width: @xs-mobile-view){
    h2{
      margin-top: 2rem;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
    .lp-three-steps{
      margin-top: 2rem;
      .lp-step{
        max-width: 98%;
        width: 98%;
        .lp-step-img{
          background-size: 100%;
        }
        .lp-step-text{
          padding-left: 5%;
          line-height: 1.5rem;
          .lp-step-text-head{
            font-size: 1.3rem;
          }
          .lp-step-text-body{
            font-size: 1rem;
          }
        }
      }
    }
  }
}

/*---------- fourth block ----------*/
.lp-fourth-block{
  .flex-display;
  .flex-direction(column);
  padding: 4rem 5rem;
  background-color: #ebebeb;
  border-top: solid 1px #d7d7d7;
  border-bottom: solid 1px #d7d7d7;
  .lp-right{
    .justify-content(space-between);
    .lp-photo{
      margin-right: 0;
      margin-left: 4%;
      @media (max-width: @desktop-view){
        margin-left: 6%;
      }
      @media (max-width: @xs-mobile-view){
        margin-left: 4%;
      }
    }
  }
  article{
    margin-bottom: 3.5rem;
    width: 100%;
    .flex-display;
    .lp-photo{
      position: relative;
      margin-right: 4%;
      width: 179px;
      height: 179px;
      border: solid 1px #717171;
      img{
        position: absolute;
        top:5px;
        left: 5px;
      }
    }
    .lp-comment{
      width: 70%;
      font-family: 'Roboto Slab', serif;
      font-size: 1.25rem;
      font-weight: 400;
      color: #444;
      .lp-comment-header{
        font-weight: 700;
      }
      .lp-comment-text{
        margin-top: 1rem;
      }
      .lp-comment-author{
        margin-top: 1rem;
        font-size: 1.5rem;
        color: #27aae0;
      }
    }
  }
  :last-child{
    margin-bottom: 0;
  }
  @media (max-width: @tablet-view){
    padding: 4rem 2rem;
  }
  @media (max-width: @mobile-view){
    padding: 3rem 1rem;
    article{
      .lp-photo{
        margin-right: 6%;
      }
      .lp-comment{
        width: 60%;
        font-size: 1rem;
        .lp-comment-author{
          font-size: 1.1rem;
        }
      }
    }
  }
  @media (max-width: @xs-mobile-view){
    article{
      margin-bottom: 2rem;
      .lp-photo{
        margin-right: 4%;
        height: 119px;
        img{
          width: 100%;
        }
      }
      .lp-comment{
        width: 80%;
        font-size: 0.8rem;
        .lp-comment-author{
          font-size: 0.85rem;
        }
      }
    }
  }
}

/*---------- fifth block ----------*/
.lp-fifth-block{
  .flex-display;
  .flex-direction(column);
  h3{
    font-size: 2.5rem;
    line-height: 2.85rem;
    font-family: Lato, sans-serif;
    text-align: center;
    margin: 4rem 1rem 2rem 1rem;
    font-weight: 400;
    @media (max-width: @xs-mobile-view){
      line-height: 2.2rem;
      margin: 2.5rem 0.5rem;
      font-size: 1.8rem;
    }
  }
  @media (max-width: @mobile-view){
    #flag{
      display: none;
    }
  }
  .lp-container{
    margin-bottom: 3rem;
    padding: 0 1rem;
    .flex-display;
    .justify-content(space-between);
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
    .lp-column{
      width: auto;
    }
    a{
      color: inherit;
    }
    .lp-border{
      background-color: #444;
      padding: 1.5rem;
      width: 100%;
      select{
        font-family: Lato, sans-serif;
        font-weight: 400;
        border-radius: 0;
        height: auto;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
  }
}

/*---------- sixth block ----------*/
.lp-sixth-block{
  .flex-display;
  .flex-direction(column);
  color: #fff;
  background-color: #2b4477;
  h5{
    margin-top: 3rem;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
  }
  h4{
    margin-top: 0;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
  }
  .lp-get-info{
    margin-top: 2.5rem;
    .flex-display;
    .justify-content(space-around);
    .align-items(center);
    .lp-block-quotes{
      width: 25.625rem;
      max-width: 100%;
      .lp-bottom-quotes-block {
        margin-bottom: 1rem;
        background-color: #fff;
        //width: 25.625rem;
        h3 {
          font-family: Lato, sans-serif;
          font-weight: 700;
          font-size: 2.125rem;
          line-height: 1.7rem;
          color: #2b4477;
          @media (max-width: @xs-mobile-view) {
            font-size: 1.5rem;
            line-height: 1rem;
          }
        }
        .btn {
          background-color: #f8c44f;
          color: #fff;
        }
      }
      .lp-corner{
        border-color: transparent transparent #fff transparent;
      }
    }
    .lp-block-phone{
      font-family: Lato, sans-serif;
      .lp-one{
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.8rem;
      }
      .lp-two{
        font-weight: 700;
        font-size: 2.75rem;
        line-height: 4rem;
        a{
          color: #f8c44f;
        }
      }
      .lp-three{
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.7rem;
        a{
          color: #fff;
        }
      }
      .lp-four{
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.7rem;
      }
    }
    @media (max-width: @mobile-view){
      .flex-direction(column);
    }
  }
  .lp-providers{
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    text-align: center;
  }
  @media (max-width: @xs-mobile-view){
    h5 {
      margin-top: 1.2rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    h4 {
      font-size: 0.9rem;
    }
    .lp-get-info{
      margin-top: 0.5rem;
      .lp-block-phone{
        text-align: center;
        .lp-one{
          font-size: 1.75rem;
        }
        .lp-two{
          font-size: 2.5rem;
          line-height: 5rem;
        }
      }
    }
    .lp-providers img{
      max-width: 80%;
    }
  }
}
