@import "config.less";
.step-progressbar-wrapper {
  font-size: 2.5rem;

  .step-progressbar-row1 {
    .flex-display;
    .flex-direction(row);
    .justify-content(center);
    .align-items(center);
    @media (max-width: 600px) {
      font-size: 1.5rem;
      justify-content: space-between;
    }
    .step-progressbar-name {
      height: 5rem;
      width: 100%;
      @media (max-width: 800px) {
        width: 80%;
      }
      .sp-name-wrapper {
        color: white;
        height: 100%;
        .flex-display;
        .flex-direction(column);
        .justify-content(center);
        .align-items(center);
      }
      .act-h{
        color: #f8c44f;
      }
    }
    .step-progressbar-ws {
      opacity: 0;
      @media (max-width: 1100px) {
        .flex-basis(40%);
      }

    }
  }
  .step-progressbar-row2 {
    color: white;
    .flex-display;
    .flex-direction(row);
    .justify-content(center);
    .align-items(center);
    .step-progressbar-circle {
      height: 60px;
      width: 60px;
      @media (max-width: 600px) {
        height: 40px;
        width: 40px;
        min-width: 40px;
      }
      text-align: center;
      border-radius: 50%;
      border: solid white 2px;
      .sp-circle-txt {
        height: 100%;
        .flex-display;
        .flex-direction(column);
        .justify-content(center);
      }
    }
    .step-progressbar-line {
      height: 0.5rem;
      .flex-basis(20%);
      background: white;
    }
    .now {
      content: none;
      border: solid #f8c44f 2px;
      color: #f8c44f;
    }
    .done{
      background: url("@{picture-url}/steps/check-step.png") 0 no-repeat;
      background-size: 100%;
      border: none;
      .sp-circle-txt{
        display: none;
      }
    }
    .line-act {
      background: #f8c44f;
    }
  }
}

