@import "config.less";

body {
  .max-width-doc;
  font-family: "sans-serif", "Helvetica Neue", Helvetica, Arial;
  font-size: 16px !important;
  margin: 0 auto !important;
  min-width: @min-width;
}

h1 {
  background: red;
}

.step1-main-wrapper {
  width: 100%;
  background: #393939;
  padding: 3rem;
  @media only screen and (max-width: @mobile-view) {
    padding: 2rem;
  }
  .step1-input-wrapper {
    padding: 2rem 12%;
    @media only screen and (max-width: @mobile-view) {
      padding: 2rem 2%;
    }
    .control-label {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      color: white;
      font-size: 1.5rem;
      margin-left: 1rem;
    }
    .stp1-input-row {
      .flex-display;
      .flex-direction(row);
      .justify-content(space-between);
      .align-items(flex-start);
      margin-bottom: 2rem;
      @media only screen and (max-width: @mobile-view) {
        flex-wrap: wrap;
      }
      .stp1-input-plan {
        .flex-basis(48%);
        .stp1-tree-inputs{
          display: flex;
          @media only screen and (min-width: @mobile-view) {
            display: none;
          }
          flex-direction: row;
          select{
            margin: 0 1rem;
            @media only screen and (max-width: @mobile-view) {
              margin: 0;
            }
          }
        }

        .step1-datepicker{
          @media only screen and (max-width: @mobile-view) {
            display: none;
          }
        }
        @media only screen and (max-width: @mobile-view) {
          .flex-basis(100%);
          margin-bottom: 2rem;
        }

      }
      .stp1-input-gender {
        .flex-basis(48%);
        @media only screen and (max-width: @mobile-view) {
          .flex-basis(100%);
        }

        #stp1-gender {
          color: #f8c44f;
          .flex-display;
          .flex-direction(row);
          .radio input[type=radio] {
            cursor: pointer;
          }
          div {
            padding: 0 1rem
          }
          #stp1-gender2 {
            margin-left: 2rem;
          }
        }
      }

      .stp1-input-address-edit {
        .flex-display;
        .flex-direction(row);
        .justify-content(center);
        .align-items(center);
        margin-left: 1rem;
        margin-top: 0.5rem;
        color: white;

        .stp1-address-edit-link {
          cursor: pointer;
          margin-left: 2rem;
          span {
            margin-right: 0.8rem;
          }
          a {
            color: #f8c44f;
          }
          a:hover {
            color: #9a8019;
          }
          a:active {
            color: #9f9f9f;
          }

        }
      }
    }
    .stp1-btn-next_wrapper {
      width: 50%;
      margin: auto;

      @media only screen and (max-width: @mobile-view) {
        width: 90%;
      }

      .stp1-btn-next {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        margin: auto;
        padding: 2rem;
        background: #f8c44f;;
        text-align: center;
        font-size: 2rem;
        cursor: pointer;
      }
      a {
        color: black;
      }
      a:link {
        text-decoration: none;
        color: black;
      }
      a:hover {
        text-decoration: none;
        color: black;
      }
    }
    .stp1-norton-logo {
      margin: 2rem auto;
      width: 40%;

      @media only screen and (max-width: @mobile-view) {
        width: 90%;
      }
      text-align: center;
    }
  }
  .stp1-bottom-txt{
    margin: 0 5%;
    color: white;
    font-size: 1.2rem;
    text-align: center;
  }
}

.step3-background{
  .max-width-doc;
  .max-width-doc;
  background: url("/pictures/steps/step1-backgraund.jpg") 0 25% no-repeat;
  background-size: 100%;
  min-width: 300px;
  color: #2b4477;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 35px;
  padding: 10% 0 30% 5%;
  .div{
    margin-bottom: 0.5rem;
  }
  .step3-txt{
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: @mobile-view) {
    font-size: 20px;
  }
}